
//open
.container label.open .top-line{
    animation-name: top-line-animation;
}

.container label.open .middle-line{
    animation-name: middle-line-animation;
}

.container label.open .bottom-line{
    animation-name: bottom-line-animation;
}

//close
.container label .top-line{
    animation-name: top-line-animation-close;
}

.container label .middle-line{
    animation-name: middle-line-animation-close;
}

.container label .bottom-line{
    animation-name: bottom-line-animation-close;
}

@keyframes top-line-animation{

    50%, 100%{
        margin: 0 auto;
        transform: translateY(10px) rotate(-45deg);
    }
}

@keyframes bottom-line-animation{

    50%, 100%{
        margin: 0 auto;
        transform: translateY(4px) rotate(45deg);
    }
}

@keyframes middle-line-animation{

    20%, 100%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}

@keyframes top-line-animation-close{

    0%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }


    50%, 100%{
            margin: 5px auto;
            transform: translateY(0px) rotate(0deg);
    }
}

@keyframes middle-line-animation-close{

    0%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    20%, 100%{
        margin: 0 auto;
        width: 40px;
        opacity: 1;
    }
}

@keyframes bottom-line-animation-close{

    0%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}