header {
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 10px;
  background: rgb(88, 138, 173);
  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    label{
      background: none;
      border: 0;
      cursor: pointer;
      padding: 0;
      width: 40px;
      height: 40px;



    }
    label span{
      width: 40px;
      height: 4px;
      border-radius: 5px;
      display: block;
      margin: 5px auto;
      background: rgb(11, 89, 144);

      animation-duration: 1s;
      animation-fill-mode: forwards;

    }
    //animaciones en hamburger.scss

    .menu-desplegar {
      display: none;
    }
    .menu-desplegar:checked ~ .menu {
      display: block;
    }
    .menu {
      flex-basis: 100%;
      display: none;
      .ulheader {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          padding: 10px;
          text-align: center;
        }
        li:hover {
          background-color: rgba(138, 185, 219, 0.87) ;
          color: rgb(11, 89, 144);
          cursor: pointer;
          transition: all 0.1s ease-in;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  header {
    background: rgb(109, 148, 177);
    label {
      display: none;
      
    }
    .container {
      
      .menu {
        background-color: white;
        display: block;
        flex-basis: 80%;
        background: rgb(109, 148, 177);
        .ulheader {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          li:hover { //tenemos que hacer que cubra arriba y abajo
            background-color: rgb(0, 112, 192);
            color: black;
            transition: all 0.3s ease-in;
          }
        }
      }
    }
  }
}
