.navbar {
  display: flex;
  justify-content: center;
  color: black;
  height: 100px;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    li {
      padding: 10px;
      font-size: 24px;
    }
    li:hover {
      color: rgb(15, 105, 170);
      cursor: pointer;
      transition: all 0.1s ease-in;
    }
    
  }
}

@media (min-width: 600px) {
  .navbar ul {
    flex-direction: column;
    margin: 0;
  }
  .navbar {
    ul {
      display: flex;
    flex-direction: column;
      
      li:hover {
        background-color: rgb(0, 112, 192);
        color: black;
        transition: all 0.3s ease-in;
      }
    }
  }
}
