@import "articles";
@import "navbar";
@import "header";
@import "aside";




body {

  margin: 0;
  padding: 0;
  
  main {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(109, 148, 177);
  }
  footer {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  @media (min-width: 600px) {
    main {
      flex-direction: row;
    }
  }
}
