.items {
  display: flex;
  flex-direction: column; }
  .items .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: radial-gradient(rgba(255, 255, 255, 0.527), rgba(202, 223, 238, 0.308)); }
    .items .content img {
      position: relative;
      width: 100%;
      height: 150%; }
    .items .content h1 {
      margin-bottom: -5px;
      font-size: 24px; }
    .items .content p {
      line-height: normal;
      text-indent: 10px;
      font-size: 18px;
      text-align: justify; }

@media (min-width: 600px) {
  .items .content {
    flex-direction: row; }
    .items .content img {
      position: relative;
      width: 250px;
      height: 180px;
      margin: 10px; } }
.navbar {
  display: flex;
  justify-content: center;
  color: black;
  height: 100px; }
  .navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0; }
    .navbar ul li {
      padding: 10px;
      font-size: 24px; }
    .navbar ul li:hover {
      color: #0f69aa;
      cursor: pointer;
      transition: all 0.1s ease-in; }

@media (min-width: 600px) {
  .navbar ul {
    flex-direction: column;
    margin: 0; }

  .navbar ul {
    display: flex;
    flex-direction: column; }
    .navbar ul li:hover {
      background-color: #0070c0;
      color: black;
      transition: all 0.3s ease-in; } }
header {
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 10px;
  background: #588aad; }
  header .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    header .container label span {
      width: 40px;
      height: 4px;
      border-radius: 5px;
      display: block;
      margin: 5px auto;
      background: #0b5990; }
    header .container .menu-desplegar {
      display: none; }
    header .container .menu-desplegar:checked ~ .menu {
      display: block; }
    header .container .menu {
      flex-basis: 100%;
      display: none; }
      header .container .menu .ulheader {
        margin: 0;
        padding: 0;
        list-style: none; }
        header .container .menu .ulheader li {
          padding: 10px;
          text-align: center; }
        header .container .menu .ulheader li:hover {
          background-color: rgba(138, 185, 219, 0.87);
          color: #0b5990;
          cursor: pointer;
          transition: all 0.1s ease-in; }

@media (min-width: 800px) {
  header {
    background: #6d94b1; }
    header label {
      display: none; }
    header .container .menu {
      background-color: white;
      display: block;
      flex-basis: 80%;
      background: #6d94b1; }
      header .container .menu .ulheader {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
        header .container .menu .ulheader li:hover {
          background-color: #0070c0;
          color: black;
          transition: all 0.3s ease-in; } }
/*aside{
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    img{
        width: 200px;
        height: 100px;
    }
}
*/
body {
  margin: 0;
  padding: 0; }
  body main {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    font-family: Helvetica, Arial, sans-serif;
    background: #6d94b1; }
  body footer {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; }
  @media (min-width: 600px) {
    body main {
      flex-direction: row; } }

/*# sourceMappingURL=estilos.css.map */
