.section{

}
/*Galeria */
.section {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s; }
     .article {
      position: absolute;
      display: block;
      padding: 0;
      margin: 10px;
      width: calc(33.333333% - 20px); }
      .section .article img {
        width: 100%;
        cursor: pointer;
        vertical-align: top;
        border-radius: 5px; }
    .section .article .p {
      position: relative;
      box-shadow: 0px 0px 26px -8px #6f00ff; }
  