.items {
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    img {
      margin: 10px;
      width: 250px;
      height: 150px;
      border: 1px solid black;
    }
    h1 {
    }
    p {
    }
  }
}
