
aside{
    width: 1000px;
    border-left: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    display: flex;
    flex-direction: column;
    img{
        width: 200px;
        height: 100px;
    }
}
