header {
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 10px;
  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    label span {
      display: block;
      width: 40px;
      height: 5px;
      margin-bottom: 1.5px;
      position: relative;
      background: black;
      z-index: 1;
    }
    .menu-desplegar {
      display: none;
    }
    .menu-desplegar:checked ~ .menu {
      display: block;
    }
    .menu {
      flex-basis: 100%;
      display: none;
      .ulheader {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          padding: 10px;
          text-align: center;
        }
        li:hover {
          background-color: rgba(0, 112, 192, 0.418);
          color:white;
          cursor: pointer;
          transition: all 0.1s ease-in;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  header {
    label {
      display: none;
    }
    .container {
      .menu {
        background-color: white;
        display: block;
        flex-basis: 80%;
        .ulheader {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          li:hover {
            background-color: white;
            color: rgb(0, 112, 192);
          }
        }
      }
    }
  }
}
