header{
    background-color: rgba(114, 114, 114, 0.274);
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        list-style: none;
        li{
            padding:10px;
        }
    }
}
